{
  "installed": {
    "client_id": "{{ installed.client_id }}",
    "project_id": "{{ installed.project_id }}",
    "auth_uri": "{{ installed.auth_uri }}",
    "token_uri": "{{ installed.token_uri }}",
    "auth_provider_x509_cert_url": "{{ installed.auth_provider_x509_cert_url }}",
    "client_secret": "{{ installed.client_secret }}",
    "redirect_uris": [
      {% for uri in installed.redirect_uris %}
      "{{ uri }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
}
